{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block carousel %} {% endblock %}
{% block body %}

    <!-- Three columns of text below the carousel -->
    <h4>Découvrez nos meilleurs ventes</h4>
    <div class="row">
        {% for product in products %}
        <div class="col-lg-3 text-center">
            {% include 'product/product.html.twig' %}
            <a href="{{ path('product_show',{'slug': product.slug}) }}" class="btn btnSecondary"><i class="fas fa-search-plus"></i> Découvrir</a>
        </div><!-- /.col-lg-4 -->
        {% endfor %}
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Amamnda, notre créatice parisienne. <span class="text-muted">Elle va vous épostoufler.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('assets/images/first.jpg') }}" class="img-fluid" alt=" artisan de paris">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Bientôt une boutique sur Paris. <span class="text-muted">La marque se développe grâce à vous.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{ asset('assets/images/second.jpg') }}" class="img-fluid" alt="boutique">
        </div>
    </div>

    <!-- /END THE FEATURETTES -->
{% endblock %}
