{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block titre %}Réinitialiser mon mot de passe{% endblock %}
{% block body %}
    <div class="block-small py-5">
        {{ form(form) }}
    </div>
{% endblock %}
