.logo-main-site{
    height: 9vh;
}

.btnPrimary{
    background-color: #33473a;
    color: #d8af57;
}

.btnPrimary:hover{
    background-color: #d8af57;
    color: #33473a;
}

.btnSecondary{
    background-color: #f1e9d2;
    color: #33473a;
}

.btnSecondary:hover{
    background-color: #33473a;
    color: #f1e9d2;
}

.navbar-light a{
    color: #3a5342 !important;
}

.navbar-light a:hover{
    color: #d8af57 !important;
}



.product-items h5{
    text-transform: uppercase;
    font-max-size: 15px;
    margin-bottom: 1px;
}

.block-small{
    max-width: 600px;
    margin: 0 auto ;
}

.form-check{
    background-color: #f1e9d2;
    border-radius: 5px;
    padding: 20px 65px;
    margin-top: 7px;
}

.col-form-label{
    font-weight: bold;
}

.order-summary{
    background-color: #f1e9d2;
    border-radius: 5px;
    padding: 20px;
}