.logo-main-site{
    height: 9vh;
}

.btnPrimary{
    background-color: #33473a;
    color: #d8af57;
}

.btnPrimary:hover{
    background-color: #d8af57;
    color: #33473a;
}

.navbar-light a{
    color: #3a5342 !important;
}

.navbar-light a:hover{
    color: #d8af57 !important;
}



.product-items h5{
    text-transform: uppercase;
    font-max-size: 15px;
    margin-bottom: 1px;
}